@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0e100f;
  background-color: #fffce1;
}

.dark body {
  color: #fffce1;
  background-color: #0e100f;
}

.modelgrid {
  .door {
    box-shadow: 2px 2px 2px 1px rgb(14, 16, 15);
  }
}
.dark .modelgrid {
  background-color: #fffce1;

  .door {
    background-color: #0e100f;
    box-shadow: 2px 2px 2px 1px rgb(255, 252, 225);
  }
}

.dark .stack {
  background-color: #fffce1;
  color: #0e100f;
}

.dark .customLi::before {
  background-color: #fffce1;
}

.dark .contacts svg {
  fill: #fffce1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  @screen lg {
    .overflow-unset-lg {
      overflow: unset;
    }
  }
}

@layer utilities {
  .custom-border::before {
    height: calc(100% * 2 / 3 + 30px);
  }
}
