@import "mixins";

.About {
  overflow: hidden;
  padding: 0 30px 80px;

  .textWrapper {
    height: calc(100vh - 61px);
    text-transform: uppercase;
    @include neue(60px, 400, 1);
    position: relative;

    span {
      color: #ffffff;
    }

    .scrollMark {
      font-size: 24px;
      position: absolute;
      bottom: 20px;

      div {
        margin-top: 16px;
        width: 60px;
        height: 60px;
      }
    }
  }

  .divider {
    margin: 40px 0;
    height: 1px;
    background-color: $black;
  }

  .intro {
    display: flex;
    flex-direction: column;
    @include notoSans(16px, normal, 1.43);

    div {
      order: 2;
    }

    .profileImg {
      max-width: 400px;
      max-height: 400px;
      margin-bottom: 20px;
      border: 4px solid #fff;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      order: 1;
    }
  }

  .works,
  .projects,
  .other {
    .title {
      text-transform: uppercase;
      @include neue(20px, 600, 29.25px);
    }

    .details {
      .item {
        padding: 10px 0;
        @include notoSans(18px, 500, 24.375px);
        border-bottom: 1px solid $black;

        span {
          margin-right: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 36px;
          border-radius: 50%;
          background-color: $black;
          color: $ivory;
          @include maharlika(16px, 500, 24.375px);
          font-style: italic;
        }
      }
    }
  }

  .works {
    flex-direction: column;

    .title {
      margin-bottom: 24px;
    }
    .details {
      width: 100%;
      .item {
        padding: 40px 0;
        border-bottom: none;

        &:last-child {
          padding-bottom: 40px;
        }

        .company {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;
            margin-top: 6px;
          }

          .occu {
            @include notoSans(15px, normal, normal);
          }
        }

        .projectList {

          .projectItem {
            padding: 20px 0;
            position: relative;

            &.bacon {
              padding-top: 300px;
            }

            &.collins {
              padding-top: 240px;
            }

            .baconImg {
              position: absolute;
              top: 0px;
              left: 0;
            }

            .collinsImg {
              position: absolute;
              top: -30px;
              right: -20px;
            }

            .projectName {
              padding-bottom: 16px;
              @include notoSans(18px, 500, 1.4);
              border-bottom: 1px solid $black;
            }

            .projectDesc,
            .projectDetail,
            .projectStacks {
              padding: 20px 0;
              @include notoSans(16px, normal, 1.4);
            }

            .projectSite {
              width: 240px;
              padding: 16px 20px;
              margin: 16px 0;
              @include neue(15px, 500, 1.3);
              text-align: center;
              border: 1px solid #000000;

              &:hover {
                cursor: pointer;
                background-color: #000000;

                transition: background-color 0.3s $Power1EaseIn,
                  color 0.3s $Power1EaseIn;
                a {
                  color: $ivory !important;
                }
              }
            }

            .projectStacks {
              font-weight: bold;
            }

            .projectDetail {
              div {
                margin-bottom: 6px;
                display: flex;
                align-items: center;

                &:before {
                  margin-right: 8px;
                  content: "";
                  display: block;
                  width: 4px;
                  height: 4px;
                  border-radius: 50%;
                  background-color: $black;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .projects {
    .details {
      .item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;

        video {
          width: 100%;
          margin: 20px auto;
        }
        .projectTitle {
          width: 100%;
          padding-bottom: 16px;
          display: flex;
          align-items: center;
          @include notoSans(18px, 500, 1.4);
          border-bottom: 1px solid $black;
        }

        .infos {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 40px 0 16px;
          @include notoSans(16px, 500, 1.4);
        }

        .desc,
        .details {
          padding: 20px 0;
          @include notoSans(16px, normal, 1.4);
          div {
            margin-bottom: 6px;
            display: flex;
            align-items: center;

            &:before {
              margin-right: 8px;
              content: "";
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $black;
            }
          }
        }

        .btns {
          margin-bottom: 40px;
          div {
            width: 240px;
            padding: 16px 20px;
            margin-bottom: 8px;
            @include neue(16px, 500, 1.3);
            text-align: center;
            border: 1px solid #000000;

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              cursor: pointer;
              background-color: #000000;

              transition: background-color 0.3s $Power1EaseIn,
                color 0.3s $Power1EaseIn;
              a {
                color: $ivory !important;
              }
            }
          }
        }
      }
    }
  }

  .other {
    .details {
      .item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: none;

        .sub {
          @include notoSans(16px, normal, normal);
        }
      }
    }
  }

  .contact {
    margin: 100px 0;

    span {
      color: #fff;
    }

    .title {
      text-transform: uppercase;
      @include neue(80px, 400, 1);
    }

    .email {
      margin: 40px 0 20px;
      @include maharlika(30px, bold, 1);
      font-style: italic;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .icons {
      display: flex;

      .icon {
        width: 80px;
        margin-right: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .About {
    padding: 80px 40px 100px;

    .textWrapper {
      height: calc(100vh - 141px);
      @include neue(86px, 400, 1);

      .scrollMark {
        font-size: 52px;
        bottom: 60px;

        div {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .About {
    padding: 80px 40px 160px;
  
    .textWrapper {
      @include neue(100px, 400, 1);
  
      .scrollMark {
        font-size: 52px;
        bottom:40px;
  
        div {
          margin-top: 16px;
        }
      }
    }
  
    .divider {
      margin: 80px 0;
    }
  
    .intro {
      flex-direction: row;
      justify-content: space-between;
  
      div {
        order: 1;
        width: 50vw;
      }
  
      .profileImg {
        order: 2;
      }
  
      .introLine {
        margin-bottom: 16px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    .works,
    .projects,
    .other {
      display: flex;
  
      .title {
        width: 30%;
      }
  
      .details {
        width: 70%;
        .item {
          display: flex;
          align-items: center;
          @include notoSans(20px, 500, 24.375px);
        }
      }
    }
  
    .works {
      .details {
        width: 100%;
        .item {
          padding: 80px 0;
  
          span {
            margin-right: 0;
            margin-bottom: 10px;
          }
  
          .company {
            width: 30%;
            display: flex;
            flex-direction: column;
  
            div {
              display: block;
            }
          }
  
          .projectList {
            width: 70%;
  
            .projectItem {

              &.bacon {
                padding-top: 0;
              }
  
              &.collins {
                padding-top: 200px;
              }
  
              .baconImg {
                top: -50px;
                left: -300px;
              }
  
              .collinsImg {
                top: -30px;
                right: 100px;
              }
            }
          }
        }
      }
    }
  
    .projects {
      .details {
        .item {
          align-items: flex-start;
        }
      }
    }
  
    .contact {
      margin: 200px 0;
  
      .email {
        @include maharlika(72px, bold, 1);
      }
    }
  }
}

