@import "mixins";

.About {
  padding: 100px 40px 160px;

  .textWrapper {
    height: calc(100vh - 200px);
    text-transform: uppercase;
    @include neue(100px, 400, 1);

    &.isReady {
      div {
        transform: none !important;
        opacity: 1 !important;
        transition-duration: 0.8s !important;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.3s !important;
          }
        }
      }
    }

    div,
    .scrollMark {
      opacity: 0 !important;
      transform-origin: center top !important;
      transform-style: preserve-3d !important;
      transform: translateY(100%) rotateX(-80deg) !important;
      transition: opacity 0s $Power2EaseOut, transform 0s $Power2EaseOut !important;
    }

    span {
      color: #ffffff;
    }

    .scrollMark {
      margin-top: 5%;
      font-size: 60px;

      div {
        margin-top: 16px;
        width: 80px;
        height: 80px;
      }
    }
  }

  .divider {
    margin: 80px 0;
    height: 1px;
    background-color: $black;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s $Power2EaseOut, transform 0.8s $Power2EaseOut;
  }

  .intro {
    display: flex;
    justify-content: space-between;
    @include notoSans(16px, normal, 1.43);

    div {
      width: 50vw;
    }

    .profileImg {
      max-width: 400px;
      max-height: 400px;
      border: 4px solid #fff;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }

    .introLine {
      margin-bottom: 16px;
      opacity: 0;
      transform: translateY(40px);
      transition: opacity 0.8s $Power2EaseOut, transform 0.8s $Power2EaseOut;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .works,
  .projects,
  .other {
    display: flex;

    .title {
      width: 30%;
      text-transform: uppercase;
      @include neue(20px, 600, 29.25px);
    }

    .details {
      width: 70%;
      .item {
        padding: 10px 0;
        display: flex;
        align-items: center;
        @include notoSans(20px, 500, 24.375px);
        border-bottom: 1px solid $black;
        span {
          margin-right: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 36px;
          border-radius: 50%;
          background-color: $black;
          color: $ivory;
          @include maharlika(16px, 500, 24.375px);
          font-style: italic;
        }
      }
    }
  }

  .works {
    flex-direction: column;

    .title {
      margin-bottom: 24px;
    }
    .details {
      width: 100%;
      .item {
        display: flex;
        padding: 80px 0;
        border-bottom: none;

        &:last-child {
          padding-bottom: 40px;
        }

        span {
          margin-right: 0;
          margin-bottom: 10px;
        }

        .company {
          width: 30%;
          display: flex;
          flex-direction: column;

          div {
            margin-top: 6px;
          }

          .occu {
            @include notoSans(15px, normal, normal);
          }
        }

        .projectList {
          width: 70%;

          .projectItem {
            padding: 20px 0;
            position: relative;

            &.collins {
              padding-top: 200px;
            }

            .baconImg {
              position: absolute;
              top: -50px;
              left: -300px;
            }

            .collinsImg {
              position: absolute;
              top: -30px;
              right: 100px;
            }

            .projectName {
              padding-bottom: 16px;
              @include notoSans(18px, 500, 1.4);
              border-bottom: 1px solid $black;
            }

            .projectDesc,
            .projectDetail,
            .projectStacks {
              padding: 20px 0;
              @include notoSans(16px, normal, 1.4);
            }
            .projectStacks {
              font-weight: bold;
            }

            .projectDetail {
              div {
                margin-bottom: 6px;
                display: flex;
                align-items: center;

                &:before {
                  margin-right: 8px;
                  content: "";
                  display: block;
                  width: 4px;
                  height: 4px;
                  border-radius: 50%;
                  background-color: $black;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .projects {
    .details {
      width: 70%;
      .item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;

        video {
          margin: 20px auto;
        }
        .projectTitle {
          width: 100%;
          padding-bottom: 16px;
          display: flex;
          align-items: center;
          @include notoSans(18px, 500, 1.4);
          border-bottom: 1px solid $black;
        }

        .infos {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 40px 0 16px;
          @include notoSans(16px, 500, 1.4);
        }

        .desc,
        .details {
          padding: 20px 0;
          @include notoSans(16px, normal, 1.4);
          div {
            margin-bottom: 6px;
            display: flex;
            align-items: center;

            &:before {
              margin-right: 8px;
              content: "";
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $black;
            }
          }
        }

        .btns {
          margin-bottom: 40px;
          div {
            width: 240px;
            padding: 16px 20px;
            margin-bottom: 8px;
            @include neue(16px, 500, 1.3);
            text-align: center;
            border: 1px solid #000000;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              cursor: pointer;
              background-color: #000000;

              transition: background-color 0.3s $Power1EaseIn,
                color 0.3s $Power1EaseIn;
              a {
                color: $ivory !important;
              }
            }

            // &:after {
            //   content: "";
            //   width: 40px;
            //   height: 40px;
            //   display: block;
            //   background: url("/icons/arrow2.svg") no-repeat center center;
            //   background-size: 100% !important;
            // }
          }
        }
      }
    }
  }

  .other {
    .details {
      .item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: none;

        .sub {
          @include notoSans(16px, normal, normal);
        }
      }
    }
  }

  .contact {
    margin: 200px 0;

    span {
      color: #fff;
    }

    .title {
      text-transform: uppercase;
      @include neue(80px, 400, 1);
    }

    .email {
      margin: 40px 0 20px;
      @include maharlika(72px, bold, 1);
      font-style: italic;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .icons {
      display: flex;

      .icon {
        width: 80px;
        margin-right: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
