@import "variables";
@import "mixins";

.Footer {
  width: 100vw;
  padding: 20px 32px;
  font-family: "Maharlika";
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include now(12px, 300, 1.33);
  background-color: $black;
  color: $ivory;

  .span {
    font-family: "Now";
  }
}
