@import "variables";
@import "mixins";

.Hamburger {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: $ivory;
  @include maharlika(32px, 900, 1.5);
  z-index: 5;

  .close {
    // &:hover {
    //   cursor: pointer;
    // }
  }

  div {
    // &:hover {
    //   cursor: pointer;
    // }
  }
}

@media (min-width: $breakPointTbl) {
  .Hamburger {
    width: 588px;
    left: unset;
    right: 0;
    @include maharlika(36px, 900, 1.5);
  }
}
