@import "mixins";

.Nav {
  width: 100vw;
  padding: 20px 32px;
  @include flexCenter;
  justify-content: space-between;
  align-items: flex-start;
  @include openSans(14px, 400, 21px);

  .menubar,
  h1 {
    // &:hover {
    //   cursor: pointer;
    // }
  }

  .menuList {
    display: none;
  }
}

@media (min-width: $breakPointTbl) {
  .Nav {
    .menubar {
      display: none !important;
    }

    .menuList {
      @include flexCenter;
      @include now(14px, 300, 1.43);

      li {
        margin-right: 18px;

        &:last-child {
          margin-right: 0;
        }

        // &:hover {
        //   cursor: pointer;
        // }
      }
    }
  }
}
