@import "mixins";

.Nav {
  width: 100vw;
  padding: 20px 32px;
  @include flexCenter;
  justify-content: space-between;
  align-items: flex-start;
  @include openSans(14px, 400, 21px);

  .menubar {
    &:hover {
      cursor: pointer;
    }
  }
}
