@import "variables";
@import "mixins";

.Projects {
  padding: 40px 32px 120px;

  .pageName {
    margin-bottom: 40px;
    @include maharlika(32px, bold, 1.73);
    text-stroke: 0.5px $black;
    -webkit-text-stroke: 0.5px $black;
    color: $ivory;
    position: sticky;
    top: 0;
    background-color: rgba(250, 243, 221, 0.8);
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
    will-change: opacity transform;
  }

  .title {
    @include maharlika(18px, bold, 1.5);
    position: relative;
    padding-left: 16px;

    &::before {
      content: "";
      display: block;
      background: url("../public/icons/twinkle.svg") center center;
      background-size: 100%;
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
    }
  }

  .projectItem {
    margin-bottom: 80px;

    .projectName {
      @include flexCenter;
      justify-content: space-between;
      @include maharlika(24px, 900, 1.5);
      border-bottom: 2px solid $black;
      opacity: 0;
      transform: translateY(100%);
      will-change: opacity transform;

      .numbering {
        font-style: italic;
      }
    }

    .projectInfo {
      padding: 8px 0;
      @include flexCenter;
      justify-content: space-between;
      border-bottom: 1px solid $black;
      @include now(12px, normal, 1.43);
      opacity: 0;
      transform: translateY(100%);
      will-change: opacity transform;
    }
    .content {
      .desc {
        padding: 12px 0;
        margin-bottom: 16px;
        @include now(14px, normal, 1.43);
        opacity: 0;
        transform: translateY(100%);
        will-change: opacity transform;

        a {
          text-decoration: underline;
        }
      }

      .infoDetail {
        margin-bottom: 40px;
        @include now(14px, normal, 1.43);
        opacity: 0;
        transform: translateY(100%);
        will-change: opacity transform;

        li {
          margin-bottom: 4px;
        }
      }
    }

    .media {
      video {
        width: 100%;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(100%);
        will-change: opacity transform;
      }

      .github,
      .blog {
        padding: 8px 20px;
        border: 1px solid $black;
        text-align: center;
        @include now(14px, 500, 1.5);
        opacity: 0;
        transform: translateY(100%);
        will-change: opacity transform;

        &:hover {
          cursor: pointer;
        }
      }

      .github {
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: 20px;
          width: 16px;
          height: 16px;
          background: url("../public/icons/github.svg") center center;
          background-size: 100%;
        }
      }

      .blog {
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: 20px;
          width: 16px;
          height: 16px;
          background: url("../public/icons/blog.svg") center center;
          background-size: 100%;
        }
      }
    }
  }
}

@media (min-width: $breakPointTbl) {
  .Projects {
    width: 836px;
    margin: 0 auto;
    padding-bottom: 180px;

    .pageName {
      @include maharlika(40px, bold, 1.73);
    }

    .title {
      font-size: 20px;
    }

    .projectItem {
      .projectName {
        font-size: 36px;
      }

      .projectInfo {
        font-size: 14px;
      }
      .content {
        margin-top: 20px;
        display: flex;

        .desc,
        .infoDetail {
          font-size: 16px;
        }
      }

      .wrapper {
        width: 50%;
        margin-right: 20px;
      }

      .media {
        width: 50%;
        .github,
        .blog {
          padding: 12px 24px;
          font-size: 16px;
        }

        .github {
          &::before {
            top: 14px;
            left: 30%;
          }
        }

        .blog {
          &::before {
            top: 14px;
            left: 31%;
          }
        }
      }
    }
  }
}
